body {
    background:#E1EDB9;
}

.App {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bodyThing {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.arcades-list {
    width: 21%;
    padding-top: .75em;
}

.two {
    width: 65%;
    background: teal;
}

.searchBar {
    //height: 155px;
    display: flex;
    //align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin-top: .75em;
}

.searchResults {
   
    width: 24.70%;
    
}

/*
.searchForm {
    width: 25%;
}
*/

.loginForm {
    /*
    width: 100%;
    display: flex;
    justify-content: space-around;
    */
}

.arcadeCard {
    margin-top: 1em;
    margin-bottom: 2em;
    border-style: solid;
    background: #D4EE5E;

}



footer {
      position: fixed;
  bottom: 0;
  left: 0;
    margin-top: 1rem;
    padding: .64rem;
    width: 100%;
    background: #FF4242;
}
